/*Decoration of the explore button*/
/*Positioning of flexbox*/
/*Shadow decoration for box and cards*/
/*Shadow decoration for button*/
/*Mixin for hidden text from menus */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
}

h5 {
  font-family: "Shrikhand";
}

/*Header whith logo*/
.header {
  width: 100%;
  height: 70px;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 30;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 0.5rem;
}
.header__logo--size {
  align-items: center;
  margin: 0;
  height: 30px;
}

/*Location Nav Bar */
.nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #EBEBEB;
}
.nav__icon {
  margin-right: 10px;
  margin-bottom: 2.5px;
}
.nav__locationText {
  font-size: 15px;
  font-weight: 500;
}

/*Section for explore restaurants */
.explore {
  text-align: center;
  height: 18rem;
  padding: 1.5rem;
  background-color: #F5F5F5;
}
.explore__title {
  margin-bottom: 0;
}
.explore__text {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 28px;
}

/*Section for tutorial how it works */
.tutorial {
  padding: 2.2rem 1rem;
}
.tutorial__line {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.tutorial__number {
  background-color: #9356dc;
  border-radius: 100px;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
  color: #FFF;
  font-size: small;
  position: absolute;
}
.tutorial__card {
  background-color: #F5F5F5;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  border-radius: 1.25rem;
  margin-left: 10px;
  width: 100%;
  box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.1);
}
.tutorial__card:hover {
  background: rgba(147, 86, 220, 0.18);
}
.tutorial__card:hover .tutorial__icon {
  color: #9356dc;
}
.tutorial__card__icon {
  color: grey;
}
.tutorial__text {
  padding-left: 15px;
  font-weight: 500;
}

/*Section for restaurants */
.restaurants {
  background-color: #F5F5F5;
  padding: 2rem 1rem;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.card {
  background-color: #FFF;
  width: 100%;
  border-radius: 1rem;
  text-decoration: none;
  position: relative;
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.1);
}
.card__img {
  height: 190px;
  width: 100%;
  border: none;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.card__new {
  background-color: #99E2D0;
  color: #1b6150;
  height: 1.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  top: 12px;
  right: 0.75rem;
}
.card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.card__text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}
.card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
}
.card__heart:hover {
  position: absolute;
  right: 0.75rem;
  font-weight: bold;
  height: 2rem;
  width: 2rem;
  background: -webkit-linear-gradient(0deg, #9356dc, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 1.2s;
}

/*Footer design here ! */
.footer {
  background-color: #333333;
  color: #FFF;
  padding: 1rem;
}
.footer__title {
  font-weight: 100;
  font-size: 17px;
  margin-top: 13px;
  margin-bottom: 15px;
}
.footer__container {
  margin-bottom: 8px;
}
.footer__icon {
  margin-right: 1rem;
  width: 11px;
  color: #FFF;
}
.footer__links {
  text-decoration: none;
  color: #FFF;
}

/*Button for explore restaurants*/
.explore__button {
  text-decoration: none;
  padding: 1rem 1.2rem;
  border-radius: 90px;
  color: #FFF;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356dc, #FF79DA);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  transition-duration: 0.25s;
}
.explore__button:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  filter: brightness(1.04);
}

/*Button for ordering menus*/
.commandBtn {
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 90px;
  padding: 0.6rem 2rem;
  border: none;
  color: #FFF;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356dc, #FF79DA);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  transition-duration: 0.25s;
  cursor: pointer;
}
.commandBtn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  filter: brightness(1.04);
}

/*For specific design on food menu only*/
/*Header whith logo and arrow*/
.header__arrow {
  position: relative;
}
.header__arrow--arrow {
  position: absolute;
  left: 1.5rem;
  font-size: 1.2rem;
  color: #333333;
}

/*Design of menus from menus pages*/
.imageMenu {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 15rem;
}

.menuCard {
  margin: auto;
  background-color: #F5F5F5;
  margin-top: -4rem;
  z-index: 1;
  position: relative;
  border-radius: 2rem 2rem 0 0;
}
.menuCard__title {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuCard__titleText {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5rem;
}
.menuCard__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menuCard__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
}
.menuCard__heart:hover {
  position: absolute;
  right: 1.75rem;
  font-weight: bold;
  height: 2rem;
  width: 2rem;
  background: -webkit-linear-gradient(0deg, #9356dc, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 1.2s;
}

.menu {
  display: grid;
}

.subMenu {
  width: 100%;
  padding: 0 1rem;
  overflow: hidden;
}
.subMenu__title {
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  position: relative;
}
.subMenu__title::after {
  content: "";
  width: 2.5rem;
  height: 0.2rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuContent {
  background-color: #FFF;
  padding: 1rem;
  border-radius: 0.75rem;
  margin: 1rem 0;
  display: flex;
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  /*Check whith annimation*/
}
.menuContent__details {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuContent__title {
  margin: 0;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuContent__text {
  margin: 0.2rem 0 0 0;
  font-size: 0.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuContent__price {
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.menuContent__check {
  background-color: #99E2D0;
}

.btnpart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

/*# sourceMappingURL=style.css.map */
