/*Footer design here ! */
.footer {
    background-color: $color-footer;
    color: $color-background-primary;
    padding: 1rem;
    &__title {
        font-weight: 100;
        font-size: 17px;
        margin-top: 13px;
        margin-bottom: 15px;
    }
    &__container {
        margin-bottom: 8px;
    }
    &__icon {
        margin-right: 1rem;
        width: 11px;
        color: $color-background-primary;
    }
    &__links {
        text-decoration: none;
        color: $color-background-primary;
    }
}