/*Decoration of the explore button*/
@mixin gradient-btn ($firstColor: $color-primary, $secondColor: $color-secondary) {
    background-image: linear-gradient(0deg, $firstColor, $secondColor);  
}

/*Positioning of flexbox*/
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}