$color-primary: #9356dc;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-location: #EBEBEB;

$color-background-primary: #FFF;
$color-background-secondary: #F5F5F5;

$color-background-btn: #686868;

$color-footer: #333333;

$color-text-general: black;
$color-text-new:#1b6150;

$font-primary: "Shrikhand", sans-serif;
$font-secondary : "Roboto", sans-serif;

$breakpoints: ("desktop": 992px, "tablets": 768px);