/*Button for explore restaurants*/
.explore__button {
    text-decoration: none;
    padding: 1rem 1.2rem;
    border-radius: 90px;
    color: $color-background-primary;
    background-color: $color-background-btn;
    @include gradient-btn;
    @include shadow-button;
}
/*Button for ordering menus*/
.commandBtn {
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 90px;
    padding: 0.6rem 2rem;
    border: none;
    color: $color-background-primary;
    background-color: $color-background-btn;
    @include gradient-btn;
    @include shadow-button;
}
