/*Button for explore restaurants*/
.explore__button {
    text-decoration: none;
    padding: 1rem 1.2rem;
    border-radius: 90px;
    color: $color-background-primary;
    background-color: $color-background-btn;
    @include gradient-btn;
}
