/*For specific design on food menu only*/
/*Header whith logo and arrow*/
.header__arrow {
    position: relative;
    &--arrow {
        position: absolute;
        left: 1.5rem;
        font-size: 1.2rem;
        color: $color-footer;
    }
}
/*Design of menus from menus pages*/
.imageMenu {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 15rem;
}
.menuCard {
    margin: auto;
    background-color: $color-background-secondary;
    margin-top: -4rem;
    z-index: 1;
    position: relative;
    border-radius: 2rem 2rem 0 0;
    &__title {
        padding: 1rem 2rem 0 1rem;
        @include flex-between;
    }
    &__titleText {
        font-family: $font-primary;
        font-size: 1.5rem;
    }
    &__icon {
        @include flex-center;
        cursor: pointer;
    }
    &__heart {
            @include flex-center;
            position: relative;
            color: $color-text-general;
            &:hover {
                position: absolute;
                right: 1.75rem;
                font-weight: bold;
                height: 2rem;
                width: 2rem;
                background: -webkit-linear-gradient(0deg, $color-primary, $color-secondary);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                transition: 1.2s;
            }
        }
}
.menu {
    display: grid;
}
.subMenu {
    width: 100%;
    padding: 0 1rem;
    overflow: hidden;
    &__title {
        font-weight: 400;
        font-size: 1rem;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        position: relative;
        &::after {
            content: "";
            width: 2.5rem;
            height: 0.20rem;
            background-color: $color-tertiary;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}
.menuContent {
    background-color: $color-background-primary;
    padding: 1rem;
    border-radius: 0.75rem;
    margin: 1rem 0;
    display: flex;
    @include shadow-card;
    overflow: hidden;
    cursor: pointer;
    &__details {
        flex: 1;
        @include hidden-text;
        
    }
    &__title {
        margin: 0;
        font-weight: 600;
        @include hidden-text;
    }
    &__text {
        margin: 0.2rem 0 0 0;
        font-size: 0.9rem;
        @include hidden-text;
    }
    &__price {
        padding-left: 0.5rem;
        font-weight: 600;
        font-size: 0.9rem;
        @include flex-end;
    }
    /*Check whith annimation*/
    &__check {
        background-color: $color-tertiary;
    }

}
.btnpart {
    @include flex-center;
    padding: 3rem;
}

